## Módulo 1: Extração de Dados

## Aula 2 - Acessando Bancos de Dados Relacionais com o SQLite3

## Importando as seguintes Bibliotecas

In [9]:
import numpy as np
import pandas as pd
import sqlite3

## Conectando com o SQLite3

In [10]:
conn = sqlite3.connect('sefaz.db')
conn

## Criando o Cursor

In [14]:
cursor = conn.cursor()

## Criando o Banco de Dados em SQLite

In [16]:
# Cria a tabela ESTABELECIMENTO
cursor.execute('''CREATE TABLE ESTABELECIMENTO (
    RES_ID smallint NOT NULL,
    RES_NOM_ESTABELECIMENTO character varying(200),
    RES_ENDERECO character varying(200),
    RES_NUMERO character varying(200),
    RES_COMPLEMENTO character varying(100),
    RES_CEP character varying(8),
    RES_BAIRRO character varying(60),
    RES_CIDADE character varying(60),
    RES_UF character varying(2),
    RES_TELEFONE character varying(15),
    RES_TIP_ESTABELECIMENTO smallint NOT NULL
);''')

# Cria a tabela TIPO_ESTABELECIMENTO
cursor.execute('''CREATE TABLE TIPO_ESTABELECIMENTO (
    RES_TIP_ESTABELECIMENTO smallint NOT NULL,
    TIPO character varying(60)
);''')

# Insere os valores nas tabelas
cursor.execute('''INSERT INTO ESTABELECIMENTO VALUES(1, 'Amika Coffee House', 'Rua Ana Bilhar', '1136', 'B', '60160110', 'Meireles', 'Fortaleza', 'CE', '(85)3031-0351', 1);''')
cursor.execute('''INSERT INTO ESTABELECIMENTO VALUES(2, 'Torra Café', 'Rua Marcos Macêdo', '827', '', '60150190', 'Aldeota', 'Fortaleza', 'CE', '', 1);''')
cursor.execute('''INSERT INTO ESTABELECIMENTO VALUES(3, 'Urbici Café', 'R. Barbosa de Freitas', '951', 'Loja 01', '60170021', 'Aldeota', 'Fortaleza', 'CE', '', 2);''')
cursor.execute('''INSERT INTO ESTABELECIMENTO VALUES(4, 'Blend Coffee House', 'R. Sabino Pires', '', '', '60150090', 'Aldeota', 'Fortaleza', 'CE', '(85) 3121-6455', 3);''')

cursor.execute('''INSERT INTO TIPO_ESTABELECIMENTO VALUES(1, 'Comercial');''')
cursor.execute('''INSERT INTO TIPO_ESTABELECIMENTO VALUES(2, 'Privado');''')
cursor.execute('''INSERT INTO TIPO_ESTABELECIMENTO VALUES(3, 'Empresarial');''')

## Manipulando PostgreSQL no DataFrame

## Executando Consultas no DataFrame

In [17]:
# Iremos colocar a tabela ESTABELECIMENTO dentro do DataFrame
df = pd.read_sql('select * from ESTABELECIMENTO', con=conn)
df

,RES_ID,RES_NOM_ESTABELECIMENTO,RES_ENDERECO,RES_NUMERO,RES_COMPLEMENTO,RES_CEP,RES_BAIRRO,RES_CIDADE,RES_UF,RES_TELEFONE,RES_TIP_ESTABELECIMENTO
0,1,Amika Coffee House,Rua Ana Bilhar,1136,B,60160110,Meireles,Fortaleza,CE,(85)3031-0351,1
1,2,Torra Café,Rua Marcos Macêdo,827,,60150190,Aldeota,Fortaleza,CE,,1
2,3,Urbici Café,R. Barbosa de Freitas,951,Loja 01,60170021,Aldeota,Fortaleza,CE,,2
3,4,Blend Coffee House,R. Sabino Pires,,,60150090,Aldeota,Fortaleza,CE,(85) 3121-6455,3

In [18]:
# Imprimindo as colunas presentes no DataFrame
df.columns

Index(['RES_ID', 'RES_NOM_ESTABELECIMENTO', 'RES_ENDERECO', 'RES_NUMERO',
       'RES_COMPLEMENTO', 'RES_CEP', 'RES_BAIRRO', 'RES_CIDADE', 'RES_UF',
       'RES_TELEFONE', 'RES_TIP_ESTABELECIMENTO'],
      dtype='object')

In [19]:
# Checando informações gerais da tabela
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   RES_ID                   4 non-null      int64
 1   RES_NOM_ESTABELECIMENTO  4 non-null      object
 2   RES_ENDERECO             4 non-null      object
 3   RES_NUMERO               4 non-null      object
 4   RES_COMPLEMENTO          4 non-null      object
 5   RES_CEP                  4 non-null      object
 6   RES_BAIRRO               4 non-null      object
 7   RES_CIDADE               4 non-null      object
 8   RES_UF                   4 non-null      object
 9   RES_TELEFONE             4 non-null      object
 10  RES_TIP_ESTABELECIMENTO  4 non-null      int64
dtypes: int64(2), object(9)
memory usage: 480.0+ bytes

In [20]:
# Olhando a dimensionalidade do DataFrame (linhas x colunas)
df.shape

(4, 11)

In [21]:
# Checando uma coluna específica do DataFrame
df["RES_BAIRRO"]

0    Meireles
1     Aldeota
2     Aldeota
3     Aldeota
Name: RES_BAIRRO, dtype: object

In [22]:
# Checando uma coluna específica do DataFrame com uma visualização melhor :)
df[df["RES_BAIRRO"] == "Aldeota"]

,RES_ID,RES_NOM_ESTABELECIMENTO,RES_ENDERECO,RES_NUMERO,RES_COMPLEMENTO,RES_CEP,RES_BAIRRO,RES_CIDADE,RES_UF,RES_TELEFONE,RES_TIP_ESTABELECIMENTO
1,2,Torra Café,Rua Marcos Macêdo,827,,60150190,Aldeota,Fortaleza,CE,,1
2,3,Urbici Café,R. Barbosa de Freitas,951,Loja 01,60170021,Aldeota,Fortaleza,CE,,2
3,4,Blend Coffee House,R. Sabino Pires,,,60150090,Aldeota,Fortaleza,CE,(85) 3121-6455,3

In [23]:
# Obtendo os valores unitários de uma coluna específica
df["RES_BAIRRO"].unique()

array(['Meireles', 'Aldeota'], dtype=object)

In [24]:
# Fazendo busca por valor e retornando sua quantidade
# Usamos o index [0] para retornar apenas a quantidade de linhas em que nosso valor aparece
df[df["RES_NOM_ESTABELECIMENTO"] == "Amika Coffee House"].shape[0]

1

In [25]:
# checando as n primeiras instâncias do DataFrame
n = 3
df.head(n)

,RES_ID,RES_NOM_ESTABELECIMENTO,RES_ENDERECO,RES_NUMERO,RES_COMPLEMENTO,RES_CEP,RES_BAIRRO,RES_CIDADE,RES_UF,RES_TELEFONE,RES_TIP_ESTABELECIMENTO
0,1,Amika Coffee House,Rua Ana Bilhar,1136,B,60160110,Meireles,Fortaleza,CE,(85)3031-0351,1
1,2,Torra Café,Rua Marcos Macêdo,827,,60150190,Aldeota,Fortaleza,CE,,1
2,3,Urbici Café,R. Barbosa de Freitas,951,Loja 01,60170021,Aldeota,Fortaleza,CE,,2

In [26]:
# checando as n últimas instâncias do DataFrame
n = 2
df.tail(n)

,RES_ID,RES_NOM_ESTABELECIMENTO,RES_ENDERECO,RES_NUMERO,RES_COMPLEMENTO,RES_CEP,RES_BAIRRO,RES_CIDADE,RES_UF,RES_TELEFONE,RES_TIP_ESTABELECIMENTO
2,3,Urbici Café,R. Barbosa de Freitas,951,Loja 01,60170021,Aldeota,Fortaleza,CE,,2
3,4,Blend Coffee House,R. Sabino Pires,,,60150090,Aldeota,Fortaleza,CE,(85) 3121-6455,3

In [27]:
# Efetuando busca condicional
condition = (df["RES_BAIRRO"] == "Aldeota") & (df["RES_NUMERO"] != "")
df[condition]

,RES_ID,RES_NOM_ESTABELECIMENTO,RES_ENDERECO,RES_NUMERO,RES_COMPLEMENTO,RES_CEP,RES_BAIRRO,RES_CIDADE,RES_UF,RES_TELEFONE,RES_TIP_ESTABELECIMENTO
1,2,Torra Café,Rua Marcos Macêdo,827,,60150190,Aldeota,Fortaleza,CE,,1
2,3,Urbici Café,R. Barbosa de Freitas,951,Loja 01,60170021,Aldeota,Fortaleza,CE,,2

In [28]:
# Visualizando apenas as colunas de interesse da busca anterior
columns_of_interest = ["RES_NOM_ESTABELECIMENTO", "RES_ENDERECO", "RES_NUMERO"]
df[condition][columns_of_interest]

  RES_NOM_ESTABELECIMENTO           RES_ENDERECO RES_NUMERO
1              Torra Café      Rua Marcos Macêdo        827
2             Urbici Café  R. Barbosa de Freitas        951

In [29]:
# Checando a dimensionalidade da consulta
# Caso deseje retornar apenas a quantidade de linhas, inserir [0] ao final de shape
df[condition][columns_of_interest].shape

(2, 3)

## Funções Agregadas

In [30]:
# obter desvio padrão de uma coluna
np.std(df["RES_ID"])

1.118033988749895

In [31]:
# obter média de uma coluna
np.mean(df["RES_ID"])

2.5

In [32]:
# obter mediana de uma coluna
np.median(df["RES_ID"])

2.5

In [33]:
# obter o máximo de uma coluna
np.max(df["RES_ID"])

4

In [34]:
# obter o mínimo de uma coluna
np.min(df["RES_ID"])

1

## Junção de Tabelas

In [35]:
# Iremos colocar a tabela TIPO_ESTABELECIMENTO dentro do DataFrame
df2 = pd.read_sql('select * from TIPO_ESTABELECIMENTO', con=conn)
df2

   RES_TIP_ESTABELECIMENTO         TIPO
0                        1    Comercial
1                        2      Privado
2                        3  Empresarial

In [36]:
df2.shape

(3, 2)

In [37]:
# Faremos o JOIN das duas tabelas através da coluna "RES_TIP_ESTABELECIMENTO" e armazenaremos o resultado em um novo DF
df3 = pd.merge(df, df2, on = "RES_TIP_ESTABELECIMENTO")

In [38]:
df3.shape

(4, 12)

## Cursor

In [39]:
# Cursor ja foi criado no inicio desse Desafio
cursor.execute("select * from ESTABELECIMENTO") # Realiza consulta
rows = cursor.fetchall() # Lê o resultado

In [40]:
print(rows)

[(1, 'Amika Coffee House', 'Rua Ana Bilhar', '1136', 'B', '60160110', 'Meireles', 'Fortaleza', 'CE', '(85)3031-0351', 1), (2, 'Torra Café', 'Rua Marcos Macêdo', '827', '', '60150190', 'Aldeota', 'Fortaleza', 'CE', '', 1), (3, 'Urbici Café', 'R. Barbosa de Freitas', '951', 'Loja 01', '60170021', 'Aldeota', 'Fortaleza', 'CE', '', 2), (4, 'Blend Coffee House', 'R. Sabino Pires', '', '', '60150090', 'Aldeota', 'Fortaleza', 'CE', '(85) 3121-6455', 3)]

In [41]:
# Vamos inserir uma nova instância na tabela ESTABELECIMENTO
cursor.execute("INSERT INTO estabelecimento VALUES(5,'Ânimo Café', 'Av Pontes Vieira', '417', '', '60013523', 'São João do Tauape', 'Fortaleza', 'Ce', '',3 )")

In [42]:
# Verificando inserção
pd.read_sql('select * from estabelecimento', con=conn)

,RES_ID,RES_NOM_ESTABELECIMENTO,RES_ENDERECO,RES_NUMERO,RES_COMPLEMENTO,RES_CEP,RES_BAIRRO,RES_CIDADE,RES_UF,RES_TELEFONE,RES_TIP_ESTABELECIMENTO
0,1,Amika Coffee House,Rua Ana Bilhar,1136,B,60160110,Meireles,Fortaleza,CE,(85)3031-0351,1
1,2,Torra Café,Rua Marcos Macêdo,827,,60150190,Aldeota,Fortaleza,CE,,1
2,3,Urbici Café,R. Barbosa de Freitas,951,Loja 01,60170021,Aldeota,Fortaleza,CE,,2
3,4,Blend Coffee House,R. Sabino Pires,,,60150090,Aldeota,Fortaleza,CE,(85) 3121-6455,3
4,5,Ânimo Café,Av Pontes Vieira,417,,60013523,São João do Tauape,Fortaleza,Ce,,3

In [43]:
# Removendo instância
cursor.execute("DELETE FROM estabelecimento WHERE RES_NOM_ESTABELECIMENTO = 'Ânimo Café'")

In [44]:
# Verificando remoção
pd.read_sql('select * from estabelecimento', con=conn)

,RES_ID,RES_NOM_ESTABELECIMENTO,RES_ENDERECO,RES_NUMERO,RES_COMPLEMENTO,RES_CEP,RES_BAIRRO,RES_CIDADE,RES_UF,RES_TELEFONE,RES_TIP_ESTABELECIMENTO
0,1,Amika Coffee House,Rua Ana Bilhar,1136,B,60160110,Meireles,Fortaleza,CE,(85)3031-0351,1
1,2,Torra Café,Rua Marcos Macêdo,827,,60150190,Aldeota,Fortaleza,CE,,1
2,3,Urbici Café,R. Barbosa de Freitas,951,Loja 01,60170021,Aldeota,Fortaleza,CE,,2
3,4,Blend Coffee House,R. Sabino Pires,,,60150090,Aldeota,Fortaleza,CE,(85) 3121-6455,3

In [45]:
cursor.close()

In [46]:
conn.close()